:root {
  --acquagreen: #7fffd4;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Generics */

body {
  background-color: var(--acquagreen);
}

header {
  height: 10vh;
  padding: 15px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#playbutton {
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  border: 1px solid dodgerblue;
  background-color: dodgerblue;
  cursor: pointer;
}

#grid {
  margin: 20px auto;
  height: 80vh;
  width: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#grid .cell {
  height: 10%;
  width: 10%;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#grid .cell.clicked {
  background-color: dodgerblue;
  color: white;
}
