body {
  font-family: sans-serif;
  background-color: #7fffd4;
}

header {
  height: 90px;
  padding: 20px 50px;
  line-height: 90px;
  background-color: white;
}
.h1 {
  color: black;
  font-weight: bolder;
}

.conteiner {
  width: 100%;
  max-width: 1082px;
  margin: 0 auto;
}
#grid {
  width: 550px;
  height: 550px;
  margin: 64px auto;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
#grid .cell {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 2px solid black;
}
footer {
  height: 100px;
  background-color: white;
}
